@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #0B1120;
  color: white;
  font-family: sans-serif;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100svh;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}